body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.input {
    margin: 10px;
}

.submit-btn {
    padding: 8px 25px;
    margin-left: 10px;
}

footer {
    margin-top: auto;
}