body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;


}

/* .sec-heading h2 {

    font-weight: 600;
    font-size: 40px;
} */

.input {
    margin: 10px;
}

.submit-btn {
    padding: 8px 25px;
    margin-left: 10px;
}

footer {
    margin-top: auto;
}